## TFIDF First Simple Model
Logistic Regression out of the box, n-grams=1

In [1]:
import pandas as pd
import numpy as np

from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag

from string import punctuation

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

import re

In [9]:
df = pd.read_csv('processed_text')
X_train, X_test, y_train, y_test = train_test_split(df.lemmatized, df.Grade, stratify=df.Grade)

In [10]:
tfidfer = TfidfVectorizer()
X_train_vec = tfidfer.fit_transform(X_train).toarray()
X_test_vec = tfidfer.transform(X_test).toarray()

# need cross val score

In [11]:
lr_vec = LogisticRegression()
lr_vec.fit(X_train_vec, y_train)
lr_vec.score(X_test_vec, y_test)
yhat = lr_vec.predict(X_test_vec)
errors = pd.DataFrame({'Text':X_test,'Actual Grade':y_test,'Model Prediction':yhat})
error_size = sum(np.abs(errors['Actual Grade'].astype(int) - errors['Model Prediction'].astype(int)))/errors['Actual Grade'].astype(int).sum()
print('Relative Error Size is ', error_size)
errors.head(20)

Relative Error Size is  0.3333333333333333

,Text,Actual Grade,Model Prediction
82,"['the', 'great', 'ship', 'the', 'great', 'ship...",0,2
154,"['i', 'be', 'i', 'be', 'a', 'dynamic', 'figure...",10,9
228,"['how', 'mount', 'olympus', 'be', 'like', 'a',...",8,6
151,"['the', 'sand', 'dollar', 'in', 'yesteryear', ...",9,9
119,"['the', 'tragic', 'asparagus', 'story', 'chapt...",5,9
92,"['swim', 'it', 'seem', 'like', 'we', 'never', ...",2,2
197,"['roll', 'of', 'thunder', 'hear', 'my', 'cry',...",5,9
32,"['ann', 'do', 'you', 'have', 'a', 'friend', 'w...",4,6
17,"['ladybug', 'ladybug', 'be', 'insect', 'insect...",2,6
155,"['anticipate', 'the', 'dream', 'and', 'we', 'b...",9,9
88,"['i', 'see', 'a', 'accident', 'i', 'see', 'a',...",1,2
156,"['huddle', 'together', 'let', 'kill', 'em', 'b...",9,9
134,"['the', 'champagne', 'bubble', 'up', 'overflow...",6,9
44,"['the', 'haunt', 'house', 'have', 'you', 'ever...",4,2
71,"['a', 'lesson', 'to', 'learn', 'my', 'little',...",6,6
253,"['find', 'rosalita', 'it', 'be', 'sunday', 'my...",4,6
3,"['a', 'happy', 'day', 'one', 'day', 'baby', 'j...",1,2
35,"['jet', 'bike', 'have', 'you', 'ever', 'run', ...",4,3
101,"['recorder', 'screech', 'screech', 'screech', ...",3,6
54,"['summer', 'day', 'or', 'month', 'the', 'final...",6,6