In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../data/Combined.csv',
                   skipinitialspace=True,
                   sep=',', 
                   quotechar='"', 
                   escapechar='\\',
                   error_bad_lines=False, 
                   names=['Grade', 'Text'])
df.head()

   Grade                                               Text
0      1  How Much I Know About Space I had just gone to...
1      1  My Favorite Pet My cat is fluffy. His name is ...
2      1  Sweet Spring Spring is sweet because we can go...
3      1  A Happy Day One day baby Josh came home. He wa...
4      1  My Trip to Mexico One time I went to Mexico. I...

In [17]:
dfCC = pd.read_csv('../data/Data2.csv',
                   skipinitialspace=True,
                   sep=',', 
                   quotechar='"', 
                   escapechar='\\',
                   error_bad_lines=False, 
                   names=['Grade', 'Text'])
dfCC

    Grade                                               Text
0       0                          I wont use as much water.
1       0  I am taking a bath. It is not all full. I am s...
2       0  In a house , the dogs want the cat. The cat wr...
3       0  A cat was trying to get into a store because t...
4       0     I like cats because they are better than dogs.
..    ...                                                ...
95      0  Make Way for Ducklings I like Make Way for Duc...
96      0       My mom is special because she plays with me.
97     11  To whom it may concern:   A group of parents ,...
98      9  To Teachers and Whom It May Concern:    A prop...
99      6  Tom Sawyer       Having complicated characters...

[100 rows x 2 columns]

In [18]:
dfvarious = pd.read_csv('../data/Data1.csv',
                   skipinitialspace=True,
                   sep=',', 
                   quotechar='"', 
                   escapechar='\\',
                   error_bad_lines=False, 
                   names=['Grade', 'Text'])
dfvarious

     Grade                                               Text
0        1  How Much I Know About Space I had just gone to...
1        1  My Favorite Pet My cat is fluffy. His name is ...
2        1  Sweet Spring Spring is sweet because we can go...
3        1  A Happy Day One day baby Josh came home. He wa...
4        1  My Trip to Mexico One time I went to Mexico. I...
..     ...                                                ...
184      3  Pain Wars: Me and my big brother the pain. Wel...
185      3  The Shark Who Ate My Head Off One day I was re...
186      3  Amy and Olivias Adventure Once there were two ...
187      3  Bob the Bad Guy and Gerald the Good Guy and hi...
188      7  The Fight for Education    I ran as fast as I ...

[189 rows x 2 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Grade   289 non-null    int64
 1   Text    289 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.6+ KB

In [11]:
df.Grade.value_counts().sort_index()

0     18
1     30
2     37
3     34
4     36
5     18
6     47
7      8
8      8
9     44
10     2
11     4
12     3
Name: Grade, dtype: int64

In [14]:
df[df.Grade == 1]

     Grade                                               Text
0        1  How Much I Know About Space I had just gone to...
1        1  My Favorite Pet My cat is fluffy. His name is ...
2        1  Sweet Spring Spring is sweet because we can go...
3        1  A Happy Day One day baby Josh came home. He wa...
4        1  My Trip to Mexico One time I went to Mexico. I...
5        1  Happy Easter Once there was a hen. The hen was...
6        1  Leaf Person One morning, I turned into a leaf ...
7        1  Parrots Parrots are colorful. They have differ...
83       1  Dear parents, If you did not hear about the fi...
84       1  I got a shot in my hip. It hurt. I was limping...
85       1  My dad told me to clean my room. The next day ...
86       1  Hey! I got E-mail from the President! Hey! I g...
87       1  Casa Bonita Casa Bonita Im in Casa Bonita. The...
88       1  I Seen a accident I Seen a accident I Seen a a...
173      1  Jay and Taylor were at Hawaii. Jay got lost in...
174      1  Penguin and the Leopard Seal Penguin loved to ...
175      1  A bullet went right past his ear. It fell down...
176      1  Buffalo got lost. He tried to find a posse (re...
177      1  Once upon a time there was a snake named Venom...
195      1  I used to have a dog , and I think a dog is be...
207      1  We need to save water! To save water , do not ...
208      1  Chesters Way by Kevin Henkes is a storey about...
209      1  Cheetahs can run fast because they have strong...
210      1  We should visit the dentist twice a year. He w...
236      1  We should visit the dentist twice a year. He w...
242      1  The London Castle  Once there lived a cat and ...
243      1  The Lonely Horse    Once upon a time there was...
244      1  When Our Key was Locked in the Car     One day...
272      1  A Special Person My mommy is my special person...
273      1  Mother Cat  Hello my name is Daniel. Im going ...